/*-----------------------------------
------------HEADER STYLES------------
-----------------------------------*/
header{
  background-color: #003057;
}
.header-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
header h1{
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  text-align: left;
}

.social-media {
  display: flex;
  justify-content: space-between;
}
.facebook-logo,
.linkedin-logo {
  margin: 0px 10px 0px 10px;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
nav ul {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  padding: 0px;
  right: 0px;
  width: 100%;
  background-color: #FFFFFF;
}
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #212225;
  border-top: 1px solid rgb(255, 255, 255);
  font-size: 1em;
}
nav ul li.active a {
  background-color: #4ACBDE;
  color: #FFFFFF;
}
nav ul li a:hover {
  background-color: #4ACBDE;
  color: #FFFFFF;
}
nav ul {
  display: none;
}

nav ul.open {
  display: block;
}
#hamburguerBtn span:nth-child(1) {
  display: block;
}
#hamburguerBtn span:nth-child(2) {
  display: none;
}
#hamburguerBtn.open span:nth-child(1) {
  display: none;
}
#hamburguerBtn.open span:nth-child(2) {
  display: block;
}

#primaryNav ul{
  display: none;
  list-style: none;
  background-color: #FFFFFF;
  position: absolute;
}
#primaryNav ul li{
float: none;
margin-left: 20px;
}
#primaryNav ul li a:hover{
  color: #FFFFFF;
  background-color: #4ACBDE;
}
#primaryNav li:hover >   ul{
  display: block;
}
/*-----------------------------------
----------------FORM-----------------
-----------------------------------*/
.temple-join,
.contact-us {
  text-align: center;
  font-size: 2.3em;
  color: #003057;
}
.contact-p {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  color: #003057;
  margin: 2rem 2rem;
}
form label.top{
  display: block;
  padding: 1em 0em 1em 0em;
  font-size: 1.3em;
}

form fieldset {
  margin: 2rem 2rem;
  border: 1px solid #003057;
  border-radius: 10px;
  padding: 0.5rem 2%;
}
form legend {
  color: #003057;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.3em;
}
form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1em;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 15px 0px 15px 5px;
  color: #555;
  width: 95%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
  font-size: 1.3em;
  display: block;
  padding: 0.75rem 0;
}
.level {
  margin: 0px 10px;
}
.options{
  font-size: 1.3em;
}

form label.top input:required {
  border-left: red solid 6px;
}
form label.top input:required:valid {
  border-left: green solid 6px;
}
form input.submitBtn {
  display: block;
  border: none;
  background-color: #003057;
  color: #ffffff;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 auto 2rem auto;
  width: 96%;
  max-width: 20rem;
  align-items: center;
  font-size: 1.3em;
}
.thankyou-message {
  background-color: #a8ccea;
  margin: 20px 50px;
  border-radius: 5px;
  color: #044b87;
}
.thankyou-message h2 {
  text-align: center;
  padding: 20px;
}
.thankyou-message p {
  font-size: 1.3em;
  font-weight: bold;
}
.thankyou-message span {
  font-weight: 300;
}
.contact-main form fieldset{
  margin: 20px 5%;
} 
.contactInfo1, .contactInfo2 {
  margin-left: 10%;
  margin-right: 10%;
}
.contact-map iframe{
  border: 1px solid #003057;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.contact-main .contact-data {
  margin: 20px 5% 22%;
  border: 1px solid #003057;
  border-radius: 10px;
  padding: 0.5rem 2%;
  color:#003057;
}
.contact-main{
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 10px;
}
.contact-main form{
  grid-row: 2/3;
  margin: 0;
}
.contact-main .contact-data{
  grid-row: 1/2;
  margin: 0px 5%;
  border: 1px solid #003057;
  border-radius: 10px;
  padding: 0.5rem 2%;
}
/*-----------------------------------
------------FOOTER STYLES------------
-----------------------------------*/
.footer-color {
  background-color: #F1F1F3;
  border-top: 1px solid #212225;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.social-media-footer{
  display: flex;
  justify-content: space-evenly;
}
.footer-color img,
.header-content img {
  border-radius: 5px;
}
.footer-direction,
.footer-contact,
.footer-data {
  text-align: center;
  color: #212225;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.footer-course-inf p{
  text-align: center;
  margin-bottom: 0px;
}
.modification {
  margin-bottom: 0px;
}
.bold-text {
  font-weight: bold;
}

/*-----------------------------------
------------SLIDE SHOW STYLES------------
-----------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.button-join{
  margin-top: -5px;
}
.text {
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  background-color: #167B9C;
  box-shadow: 0px 2px 0px 0px rgba(4, 75, 135, 0.35);
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
.text:hover{
  background-color: #FFFFFF;
  color: #212225;
}

/* Number text (1/3 etc) */
.temple-name {
  background-color: #4ACBDE;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  top: 0;
}

.mySlides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-----------------------------------
------------Welcome MEssage------------
-----------------------------------*/

.welcome-message p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #212225;
  font-weight: 600;
  margin: 10px 15px;
}
.card-temperature{
  margin-top: 1em;
}
.card {
  background-color: #4ACBDE;
  width:100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: inline-block;
  margin: auto;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

.card-header {
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  min-height: 200px;
  z-index: 1;
  text-align: left;
  border-bottom: 1px solid #FFFFFF;
}

.left-side {
  float: left;
  width: 60%;
}

h2.city {
  font-size: 1.2em;
  margin: 0px 0px 20px;
  position: relative;
}

h2.city:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  left: 0;
  bottom: -11px;
}

span.currently-weather {
  text-transform: uppercase;
  font-size: .8em;
}

.wind {
  font-size: .8em;
  line-height: 1em;
  margin-top: 5px;
}

span.temperature {
  font-size: 1em;
  line-height: 1em;
}
.temperature_1, .temperature_2, .temperature_3{
  margin: 5px;
}
.weather-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.weather-icon-day figure{
  margin: auto;

}

.header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: .1;
  z-index: -1;
}

.col {
  float: left;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #FFFFFF;
}

span.day_1, span.day_2, span.day_3 {
  display: block;
  text-transform: uppercase;
}

.col .weather-icon {
  position: relative;
  width: 100%;
  right: 0;
  top: 0;
  transform: none;
  margin: 20px 0 0;
}

.clearfix {
	clear: both;
}
.sumary-inf{
  margin: 20px 0px;
}
.sumary-inf p{
  font-family: 'Open Sans', sans-serif;
  color: #212225;
  margin: 0px 10px 20px;
  padding: 0px;
}
.sumary-inf img{
  width: 100%;
  height: 100%;
}

.medium-image, .review-inf{
  display: none;
}
.contact-map{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.temple-section {
  margin: 20px;
}

.temple-title {
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-size: 2em;
}
.temple-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.temple-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
.container{
  padding: 5px;
  margin: 15px;
}
.container h3{
  text-align: center;
  color: #212225;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:bold;
  margin-top: 0px;  
}

.container p{
  text-align:left;
  color: #212225;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 10px;
}

.hover-image{
  display: none;
}

.img-temple:hover +.hover-image{
  display: block;
  color: #212225;
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  box-shadow: 0 0 60px #4ACBDE;
  border-radius: 5px;
}

.material-icons{
  margin: inherit;
  color: #FACA3D;
  cursor: pointer;
}
.material-icons p{
  display: inline-block;
  text-align: left;
  color: #212225;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
}
.catering-slide{  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
}
.reception-title{
  text-align: center;
}
.modern-option,
.traditional-option{
  margin: 20px;
}
.modern-option img,
.traditional-option img{
  filter: brightness(70%);
  width: 100%;
  height: 100%;
  box-shadow: 0 6px 10px rgba(0,0,0,0.5);
}
.message{
  position: absolute;
  top: 75%;
  left:247px;
  color: #FFFFFF;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}
.invite{
  position: absolute;
  top: 80%;
  left: 266px;
  color: #FFFFFF;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
}
.catering-button{
  position: absolute;
  top: 90%;
  left: 324px;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
}
#modern-option-description,
#traditional-option-description{
  margin: 20px;
  padding: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.5);
}
#modern-option-description h3,
#modern-option-description p,
#traditional-option-description h3,
#traditional-option-description p{
  padding: 10px;
  margin: 5px;
  font-size: 1.5em;
}
#modern-option-description li,
#traditional-option-description li{
  list-style: none;
  font-size: 1.5em;
  padding: 5px;
}

