/*-----------------------------------
------------HEADER STYLES------------
-----------------------------------*/
header{
  background-color: #003057;
}
.header-content {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
header h1{
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  text-align: left;
}

.social-media {
  display: flex;
  justify-content: space-between;
}
.facebook-logo,
.linkedin-logo {
  margin: 0px 10px 0px 10px;
}
nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
nav ul {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  top: 100px;
  padding: 0px;
  right: 0px;
  width: 100%;
  background-color: #FFFFFF;
}
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #212225;
  border-top: 1px solid rgb(255, 255, 255);
  font-size: 1em;
}
nav ul li.active a {
  background-color: #FFFFFF;
  color: #212225;
}
nav ul li a:hover {
  background-color: #167B9C;
  color: #FFFFFF;
}
nav ul {
  display: none;
}
nav ul.open {
  display: block;
}
#hamburguerBtn span:nth-child(1) {
  display: block;
}
#hamburguerBtn span:nth-child(2) {
  display: none;
}
#hamburguerBtn.open span:nth-child(1) {
  display: none;
}
#hamburguerBtn.open span:nth-child(2) {
  display: block;
}

/*-----------------------------------
------------FOOTER STYLES------------
-----------------------------------*/
.footer-color {
  background-color: #F1F1F3;
  border-top: 1px solid #212225;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.social-media-footer{
  display: flex;
  justify-content: space-evenly;
}
.footer-color img,
.header-content img {
  border-radius: 5px;
}
.footer-direction,
.footer-contact,
.footer-data {
  text-align: center;
  color: #212225;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.footer-course-inf p{
  text-align: center;
  margin-bottom: 0px;
}
.modification {
  margin-bottom: 0px;
}
.bold-text {
  font-weight: bold;
}

/*-----------------------------------
------------SLIDE SHOW STYLES------------
-----------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.button-join{
  margin-top: -5px;
}
.text {
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  background-color: #167B9C;
  box-shadow: 0px 2px 0px 0px rgba(4, 75, 135, 0.35);
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
.text:hover{
  background-color: #FFFFFF;
  color: #212225;
}

/* Number text (1/3 etc) */
.temple-name {
  background-color: #4ACBDE;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  top: 0;
}

.mySlides img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*-----------------------------------
------------Welcome MEssage------------
-----------------------------------*/

.welcome-message p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #212225;
  font-weight: 600;
  margin: 10px 15px;
}
.card-temperature{
  margin-top: 1em;
}
.card {
  background-color: #4ACBDE;
  width:100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: inline-block;
  margin: auto;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

.card-header {
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
  min-height: 200px;
  z-index: 1;
  text-align: left;
  border-bottom: 1px solid #FFFFFF;
}

.left-side {
  float: left;
  width: 60%;
}

h2.city {
  font-size: 1.2em;
  margin: 0px 0px 20px;
  position: relative;
}

h2.city:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  left: 0;
  bottom: -11px;
}

span.currently-weather {
  text-transform: uppercase;
  font-size: .8em;
}

.wind {
  font-size: .8em;
  line-height: 1em;
  margin-top: 5px;
}

span.temperature {
  font-size: 1em;
  line-height: 1em;
}
.temperature_1, .temperature_2, .temperature_3{
  margin: 5px;
}
.weather-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.weather-icon-day figure{
  margin: auto;

}

.header-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: .1;
  z-index: -1;
}

.col {
  float: left;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #FFFFFF;
}

span.day_1, span.day_2, span.day_3 {
  display: block;
  text-transform: uppercase;
}

.col .weather-icon {
  position: relative;
  width: 100%;
  right: 0;
  top: 0;
  transform: none;
  margin: 20px 0 0;
}

.clearfix {
	clear: both;
}
.sumary-inf{
  margin: 20px 0px;
}
.sumary-inf p{
  font-family: 'Open Sans', sans-serif;
  color: #212225;
  margin: 0px 10px 20px;
  padding: 0px;
}
.sumary-inf img{
  width: 100%;
  height: 100%;
}

.medium-image{
  display: none;
}