@media only screen and (min-width: 32.5em) {
    .medium-view{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: 20px;
    }
    .card{
        grid-column: 1/2;
        grid-row: 1/2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .sumary-inf{
        margin: 0px;
    }
    .sumary-inf{
        grid-column: 2/3;
        grid-row: 1/2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    .sumary-img img{
        border-radius: 5px;
    }
    .medium-image{
        grid-column: 1/3;
        grid-row: 2/3;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 20px;
    }
    .medium-image img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    .review-inf{
        position: relative;
        top:-60%;
        background-color: #FFFFFF;
        width: 50%;
        padding: 5px 5px 5px 20px;
        opacity: 0.8;
    }
    .review-inf p{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 500;
    }
}