@media only screen and (min-width: 32.5em) {
    .medium-view,
    #cards,
    .suites-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: 20px;
    }
    .card-index{
        grid-column: 1/2;
        grid-row: 1/2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .sumary-inf{
        margin: 0px;
    }
    .sumary-inf{
        grid-column: 2/3;
        grid-row: 1/2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    .sumary-img img{
        border-radius: 5px;
    }
    .medium-image{
        grid-column: 1/3;
        grid-row: 2/3;
        display: block;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .medium-image img{
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .review-inf{
        grid-column: 1/3;
        grid-row: 2/3;
        position: absolute;
        top:35%;
        background-color: #FFFFFF;
        width: 60%;
        height: 30%;
        padding: 5px 5px 5px 20px;
        opacity: 0.8;
        display: block;
    }
    .review-inf p{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        font-weight: 500;
        color: #212125;
    }
    .sumary-inf p{
        margin-top:10px;
    }

    form .information-form,
    form .checkin-form{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }
    form label.top input,
    form label.top select,
    form label.top textarea {
        max-width: none;
    } 
    .modern-option .catering-button a,
    .traditional-option .catering-button a{
        display: none;
    }
    .modern-option .message,
    .traditional-option .message{
        font-size: 3em;
    }
    .traditional-option .invite,
    .modern-option .invite{
        font-size: 3em;
    }
}